<header>
  <div class="background">
    <div class="header-left">
      <img src="assets/logo.png" alt="logo"/>
      <div class="navigation">
        <div class="nav">
          <img src="/assets/Icon/link.svg" alt="">
          <a href="">Ссылки</a>
        </div>
        <div class="nav">
          <img src="/assets/Icon/contacts.svg" alt="">
          <a href="">Контакты</a>
        </div>
        <div class="nav">
          <img src="/assets/Icon/tag.svg" alt="">
          <a href="">Теги</a>
        </div>
        <div class="nav">
          <img src="/assets/Icon/favorites.svg" alt="">
          <a href="">Избранное</a>
        </div>
        <div class="nav">
          <img src="/assets/Icon/history.svg" alt="">
          <a href="">Посещения</a>
        </div>
      </div>
      <button class="search">
        <img src="/assets/Icon/search.svg" alt="">
      </button>
      <button class="add">
        <img src="/assets/Icon/add2.svg" alt="">
      </button>
    </div>
    <div class="avatar">
      <button class="notification">
        <img src="/assets/Icon/notifications.svg" alt="">
      </button>
      <button class="ava">
        <img src="/assets/Icon/AVA.svg" alt="">
      </button>
    </div>
  </div>
</header>

