* {
  color: #FFFFFF;
}

.background {
  display: flex;
  padding: 0 12px;
  height: 56px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  background-color: #1074CC;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 0 13px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  width: 704px;
  background-color: white;
  border-radius: 4px;
  margin-left: 10px; /* настрой под макет */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

app-search {
  position: absolute;
  top: 4px;
  left: 182px;
  z-index: 1000;
  height: 48px;


}

.search {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin-left: 16px;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

.add {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin-left: 16px;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

.avatar {
  display: flex;
  gap: 12px;
}

.notification {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

.ava {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 4px;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
}
