.filter-box {
  display: flex;
  height: 228px;
  width: 704px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 20px;
  height: 228px;
  width: 216px;
}

.line {
  border: 1px solid #E1E4E6;
}

.history {
  display: flex;
  height: 14px;
  width: 216px;
  color: #7F878C;
  font-size: 14px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.red-box {
  display: flex;
  height: 6px;
  width: 216px;
}

.history-item {
  display: flex;
  align-items: center;
  height: 32px;
  width: 216px;
  box-sizing: border-box;
  padding: 6px 16px;
  color: #2A3033;
}

.filter-right {
  display: flex;
  flex-direction: column;
  height: 228px;
  width: 487px;
  box-sizing: border-box;
  position: relative;
}

.filter-section {
  display: flex;
  box-sizing: border-box;
  padding: 16px 12px 12px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: #E1E4E6 solid 1px;
  height: 48px;
  width: 439px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.author {
  display: flex;
  height: 16px;
  width: 43px;
  justify-content: center;
  align-items: center;
  color: #7F878C;
  font-size: 12px;
}

.input-name {
  display: flex;
  align-items: center;
  height: 20px;
  width: 383px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border: none;
  margin-left: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  gap: 8px;
  height: 36px;
  width: 454px;
  position: absolute;
  top: 88px;
  right: 24px;
  justify-content: center;
}

.checkbox {
  display: flex;
  box-sizing: border-box;
  padding: 6px 12px;
  gap: 12px;
  height: 36px;
  align-items: center;
}

.input-checkbox {
  display: flex;
  height: 18px;
  width: 18px;
}

.text {
  color: #2A3033;
  font-size: 14px;
  height: 20px;
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 351px;
  position: absolute;
  top: 144px;
  left: 24px;
  gap: 8px;
}

.checkbox-container-2 {
  display: flex;
  gap: 8px;
  height: 36px;
  width: 351px;
  justify-content: center;
}
