<div class="filter-box">
  <div class="filter-left">
    <div class="history">История</div>
    <div class="red-box"></div>
    <div class="history-item">закрепить теги</div>
    <div class="history-item">кнопка</div>
    <div class="history-item">приложение</div>
    <div class="history-item">форма</div>
    <div class="history-item">текстовое поле</div>
  </div>
  <div class="line"></div>
  <div class="filter-right">
    <fieldset class="filter-section">
      <legend class="author">Автор</legend>
        <input class="input-name" type="text" placeholder="Имя или должность" />
        <button class="input-button">я</button>
    </fieldset>
    <div class="checkbox-container">
      <div class="checkbox">
        <input class="input-checkbox" type="checkbox">
        <span class="text">Я участник</span>
      </div>
      <div class="checkbox">
        <input class="input-checkbox" type="checkbox">
        <span class="text">Строгий поиск</span>
      </div>
      <div class="checkbox">
        <input class="input-checkbox" type="checkbox">
        <span class="text">В заголовках</span>
      </div>
    </div>
    <div class="tags">
      <span class="text">Только</span>
      <div class="checkbox-container-2">
        <div class="checkbox">
          <input class="input-checkbox" type="checkbox">
          <span class="text">Теги</span>
        </div>
        <div class="checkbox">
          <input class="input-checkbox" type="checkbox">
          <span class="text">Просьбы</span>
        </div>
        <div class="checkbox">
          <input class="input-checkbox" type="checkbox">
          <span class="text">Контакты</span>
        </div>
      </div>
    </div>
  </div>
</div>
